<form [formGroup]="examForm" (ngSubmit)="startExam()">
  <div class="card">
    <h2 class="card-title">Exam</h2>

    <div class="dropdown-container">
      <label for="subject-dropdown" class="dropdown-label">Subject</label>
      <select id="subject-dropdown" class="dropdown" formControlName="subject">
        <option value="financiera">Financiera</option>
      </select>
    </div>

    <div class="space-below"></div>

    <div class="dropdown-container">
      <label for="type-exam-dropdown" class="dropdown-label">Type Exam</label>
      <select id="type-exam-dropdown" class="dropdown" formControlName="typeExam">
        <option *ngFor="let option of optionsTypeExam" [value]="option.value">
          {{ option.text }}
        </option>
      </select>
    </div>

    <div class="space-below"></div>

    <button type="submit" class="btn-green">Start Exam</button>
  </div>
</form>
