<!-- <p>multiple-choice-questions works!</p> -->
<div class="questions-container">
    <h2>Multiple Choise Questions</h2>
    <form [formGroup]="questionsForm">
        <div *ngFor="let question of questionsList; let i = index" class="question-container">
            <!-- Mostrar la pregunta -->
            <h3>{{ question.question }}</h3>
        
            <!-- Mostrar las opciones como checkboxes -->
            <div *ngFor="let option of question.options">
              <label>
                <input
                  type="checkbox"
                  
                />
                {{ option }}
              </label>
            </div>
          </div>
    </form>
    <div class="button-container">
        <button type="button" (click)="navigateHome()" class="home-button">Go to Home</button>
        <button type="button" (click)="navigateToScore()" class="score-button">See Score</button>
    </div>
</div>