<div *ngIf="startExam == true; else elseTemplate">
  <div class="container mt-5">
    <div class="form-container">
      <h2 class="form-title">Rules Exam</h2>

      <p>Please note that the exam has a strict time limit of <strong>10 minutes</strong>. Once the exam begins,
        you
        will have exactly 10 minutes to complete all the questions. The timer will start automatically, and you
        will
        be able to see the remaining time displayed on the screen.</p>

      <div class="d-grid">
        <button class="btn btn-primary" (click)="goToQuestions()">Start Exam</button>
      </div>
    </div>
  </div>
</div>
<ng-template #elseTemplate>
  <form [formGroup]="examForm" (ngSubmit)="initExam()">
    <div class="container mt-5">
      <div class="form-container">
        <h2 class="form-title">Exam</h2>

        <div class="mb-4">
          <label for="subject" class="form-label">Subject</label>
          <select class="form-select" id="subject" formControlName="subject">
            <option *ngFor="let option of optionsTypeSubject" [value]="option.value">
              {{ option.name }}
            </option>
          </select>
        </div>

        <div class="mb-4">
          <label for="typeExam" class="form-label">Type Exam</label>
          <select class="form-select" id="typeExam" formControlName="typeExam">
            <option *ngFor="let option of optionsTypeExam" [value]="option.value">
              {{ option.text }}
            </option>
          </select>
        </div>

        <div class="d-grid">
          <button class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- <div *ngIf="startExam == true; else elseTemplate" class="container">
  <app-select-questions [subject]="subjectSelected" [typeExam]="typeExamSelected"
    (actionBack)="handleBack()"></app-select-questions>
</div>
<ng-template #elseTemplate>
  
</ng-template> -->


<!-- <div *ngIf="startExam == true; else elseTemplate" class="container">
  <app-select-questions 
  [subject]="subjectSelected" 
  [typeExam]="typeExamSelected" 
  (actionBack)="handleBack()"
  ></app-select-questions>
</div>
<ng-template #elseTemplate>
  <form [formGroup]="examForm" (ngSubmit)="initExam()">
    <div class="card">
      <h2 class="card-title">Exam</h2>

      <div class="dropdown-container">
        <label for="subject-dropdown" class="dropdown-label">Subject</label>
        <select id="subject-dropdown" class="dropdown" formControlName="subject">

          <option *ngFor="let option of optionsTypeSubject" [value]="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div class="space-below"></div>

      <div class="dropdown-container">
        <label for="type-exam-dropdown" class="dropdown-label">Type Exam</label>
        <select id="type-exam-dropdown" class="dropdown" formControlName="typeExam">
          <option *ngFor="let option of optionsTypeExam" [value]="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div class="space-below"></div>

      <button type="submit" class="btn-green">Start Exam</button>
    </div>
  </form>
</ng-template> -->