<div *ngIf="startExam == true; else elseTemplate" class="container">
  <app-select-questions 
  [subject]="subjectSelected" 
  [typeExam]="typeExamSelected" 
  (actionBack)="handleBack()"
  ></app-select-questions>
</div>
<ng-template #elseTemplate>
  <form [formGroup]="examForm" (ngSubmit)="initExam()">
    <div class="card">
      <h2 class="card-title">Exam</h2>

      <div class="dropdown-container">
        <label for="subject-dropdown" class="dropdown-label">Subject</label>
        <select id="subject-dropdown" class="dropdown" formControlName="subject">

          <option *ngFor="let option of optionsTypeSubject" [value]="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div class="space-below"></div>

      <div class="dropdown-container">
        <label for="type-exam-dropdown" class="dropdown-label">Type Exam</label>
        <select id="type-exam-dropdown" class="dropdown" formControlName="typeExam">
          <option *ngFor="let option of optionsTypeExam" [value]="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div class="space-below"></div>

      <button type="submit" class="btn-green">Start Exam</button>
    </div>
  </form>
</ng-template>