<div class="questions-container">
  <h2>Single Choice Questions</h2>

  <div *ngIf="questionsList[currentStep]" class="question-container">
    <h3>{{ questionsList[currentStep].question }}</h3>

    <div *ngFor="let answer of questionsList[currentStep].answers">
      <label>
        <input
          type="radio"
          [name]="'question' + currentStep"
          [value]="answer"
          (change)="onAnswerChange(answer)"
          [checked]="questionsList[currentStep].answer === answer" 
        />
        {{ answer }}
      </label>
    </div>
  </div>

  <div class="wizard-navigation">
    <button (click)="prevStep()" [disabled]="currentStep === 0">Back</button>
    <button (click)="nextStep()" [disabled]="!isCurrentStepValid()" *ngIf="currentStep < questionsList.length - 1">
      Next
    </button>
    <button (click)="goToScore()" [disabled]="!isCurrentStepValid()" *ngIf="currentStep === questionsList.length - 1">
      Finish
    </button>
  </div>
</div>