<!-- <p>true-false-questions works!</p> -->
<div class="questions-container">
    <h2>True / False Questions</h2>
    <form [formGroup]="questionsForm">
        <div *ngFor="let question of questionsList; let i = index" class="question-container">

          <h3>{{ question.question }}</h3>
      
          <div *ngFor="let answer of question.answers">
            <label>
              <input
                type="radio"
                [formControlName]="'question' + i"
                [value]="answer"
                (change)="onAnswerChange('question' + i, answer)"
              />
              {{ answer }}
            </label>
          </div>
        </div>
      
      </form>
    <div class="button-container">
      <button type="button" (click)="back()" class="home-button">Go to Home</button>
      <button type="button" (click)="goToScore()" class="score-button">See Score</button>
    </div>
  </div>
